@import '~bootstrap/scss/bootstrap';


header, body{
    font-family: monospace;
 }
 
.secondary, .thead-secondary, .table-secondary {
  background-color: #f2f4f5 !important;
}

.field_with_errors {
  display: contents;
}

.main-container {
  height: 200px;
  width: 800px;
  background-image: url(../../assets/images/bg-cake.jpg);
  background-size: cover;
  background-position: center;
}

.bg-rgba {
  height: 200px;
  width: 100%;
  padding-top:30px;
  text-align: center;
  background-color: rgba( 255, 255, 255, 0.8);
}

.text {
  color: black;
  text-decoration: underline;
}

.text:hover {
  background-color: #AFD2E4;
  color: black;
}

.table-bordered > thead > tr > th, .table-bordered > .thead-light > tr > th{
    border:1px solid black;
}

.table-bordered > tbody > tr > td{
    border:1px solid black;
}

.table .border-left {
  border-left: none;
}