<div class="container col-7">


<div class="pt-5">
<h3>商品一覧</h3>
</div>

<div class="row pt-6">
<% @items.first(8).each do |item| %>
<div class="col-md-3 flex-column">

<div><%= image_tag item.image, size: "200x200" %></div>

<div><%= item.name %></div>

<div><%= item.price %></div>
</div>

<% end %>
</div>

</div>